@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo Aluno(a)</h1>
    <p>SENAC </p>
    <p>"Seja Bem Vindo ao programa JOVEM PROGRAMADOR 2022!"</p>
</div>
<div class="text-center">
    
    <p><img src="https://matipo.mg.gov.br/images/links/senac.jpg" max height="400px"  </p>
 </div>
