@model AlunoModel

<form asp-controller="Alunos" asp-action="AlterarAluno" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control col-md-6">
    </div>
    <div class="mb-3">
        <label class="form-label">Idade</label>
        <input type="text" asp-for="Idade" class="form-control col-md-1">
    </div>
    <div class="mb-3">
        <label class="form-label">Contato</label>
        <input type="text" asp-for="Contato" class="form-control col-md-2" placeholder="(00) 99999-9999">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control col-md-6">
    </div>
    <div class="mb-3">
        <label class="form-label">Cep</label>
        <input type="text" asp-for="Cep" class="form-control col-md-4" placeholder="00000-000">
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-primary m-1 "  type="submit" >Alterar</button>
        <a class="btn btn-primary m-1" type="submit" asp-controller="Alunos" asp-action="Index">Voltar</a>


    </div>

</form>